body {
  background-image: url('https://static.vecteezy.com/system/resources/previews/002/547/521/non_2x/minimalist-abstract-background-with-outline-plant-flower-and-leaves-vector.jpg');
  background-size: auto;
}

h1 {
  color: #323239;
  font-family: 'Jost', sans-serif;
  font-weight: 100;
  font-size: 60px;
  letter-spacing: .1em;
  text-align: center;
  display: grid;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
}

h2 {
  font-family: 'Jost', sans-serif;
  font-size: 21px;
  letter-spacing: .1em;
  word-spacing: .2em;
  text-align: center;
  margin-top: -1.7em;
  color: #9E657E;
}

#monthContainer {
  width: 1020px;
  height: 530px;
  margin-left: auto;
  margin-right: auto;
  border: 25px solid #9e6e46;
  background-color: #b27d51;
  border-radius: 100px;
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  grid-auto-rows: 4em;
  row-gap: 100px;
  text-align: center;
  align-items: center;
}

.monthBtn {
  cursor: pointer;
  font-family: 'Jost', sans-serif;
  font-weight: 100;
  letter-spacing: .1em;
  font-size: 27px;
  color:#dbdbdb;
  border: 1px solid #323239;
  background-color: #323239;
  border-radius: 30px;
  box-shadow: 2px 2px 5px #161619;
  width: 200px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 130px;
  vertical-align: middle;
  line-height: 70px;
}
.monthBtn:active {
  background: #815266;
  -webkit-box-shadow: inset 0px 0px 5px #815266;
     -moz-box-shadow: inset 0px 0px 5px #815266;
          box-shadow: inset 0px 0px 5px #815266;
   outline: none;
}
.monthBtn:hover {
  background-color: #9E657E;
  border-color: #9E657E;
  color: rgb(255, 255, 255);
  transition: 0.2s;
}

#backMonth {
  cursor: pointer;
  font-family: 'Jost', sans-serif;
  font-weight: 100;
  letter-spacing: .1em;
  font-size: 17px;
  color:#f0f0f0;
  border: 1px solid #815266;
  background-color: #815266;
  border-radius: 15px;
  box-shadow: 2px 2px 5px #161619;
  height: 60px;
  width: 115px;
  margin-left: 10px;
  margin-top: -35px;
}
#backMonth:active {
  background: #815266;
  -webkit-box-shadow: inset 0px 0px 5px #815266;
     -moz-box-shadow: inset 0px 0px 5px #815266;
          box-shadow: inset 0px 0px 5px #815266;
   outline: none;
}
#backMonth:hover {
  background-color: #EB8AB5;
  border-color: #EB8AB5;
  color: rgb(255, 255, 255);
  transition: 0.2s;
}

.todoToday {
  display: inline-block;
}

.monthCard {
  font-family: 'Jost', sans-serif;
  font-weight: 100;
  letter-spacing: .1em;
  font-size: 25px;
  color:#323239;
  width: 910px;
  height: 480px;
  border: 7px solid #d3d3d3;
  background-color: #ededed;
  border-radius: 30px;
  margin-top: 465px;
  margin-left: 19%;
  margin-right: auto;
  text-align: center;
  align-items: center;
  display: grid;
  grid-template-rows: repeat(8, 43px);
  grid-template-columns: repeat(7, 128.5px);
  row-gap: 29px;
}

.dateButton {
  cursor: pointer;
  font-family: 'Jost', sans-serif;
  font-weight: 100;
  letter-spacing: .1em;
  font-size: 20px;
  color:#dbdbdb;
  background-color: #323239;
  height: 60px;
  width: 115px;
  border: solid #323239;
  border-radius: 15px;
  margin-left: 10px;
  margin-top: -35px;
  text-align: start;
}
.dateButton:hover {
  background-color: #9E657E;
  border-color: #9E657E;
  color: rgb(255, 255, 255);
  transition: 0.2s;
}
.dateButton:active {
  background: #815266;
  -webkit-box-shadow: inset 0px 0px 5px #815266;
     -moz-box-shadow: inset 0px 0px 5px #815266;
          box-shadow: inset 0px 0px 5px #815266;
   outline: none;
}

.eventsPage {
  font-family: 'Jost', sans-serif;
  font-weight: 100;
  letter-spacing: .1em;
  font-size: 25px;
  color:#323239;
  width: 400px;
  height: 480px;
  border: 7px solid #d3d3d3;
  background-color: #ededed;
  border-radius: 30px;
  margin-top: 465px;
  margin-left: 18%;
  margin-right: auto;
  text-align: center;
  align-items: center;
  display: grid;
  grid-template-rows: repeat(6, 50px);
  // grid-template-columns: repeat(1, 450px);
  row-gap: 35px;
}

.eventTimes {
  cursor: pointer;
  font-family: 'Jost', sans-serif;
  font-weight: 100;
  letter-spacing: .1em;
  text-align: left;
  font-size: 15px;
  margin-left: 12px;
  margin-bottom: 100px;
  margin-top: 50px;
  height: 70px;
  width: 370px;
  color: #dbdbdb;
  border: 1px solid #323239;
  background-color: #323239;
  border-radius: 10px;
  padding: 1px;
  padding-left: 5px;
}
.eventTimes:hover {
  background-color: #404049;
  border-color: #404049;
  color: rgb(255, 255, 255);
  transition: 0.2s;
}
.eventTimes:active {
  background: #323239;
  -webkit-box-shadow: inset 0px 0px 5px #323239;
     -moz-box-shadow: inset 0px 0px 5px #323239;
          box-shadow: inset 0px 0px 5px #323239;
   outline: none;
}

.hasEvent {
  background-color: #9E657E;
  cursor: pointer;
  font-family: 'Jost', sans-serif;
  font-weight: 100;
  letter-spacing: .1em;
  font-size: 20px;
  color:#ededed;
  height: 60px;
  width: 115px;
  border: solid #9E657E;
  border-radius: 15px;
  margin-left: 10px;
  margin-top: -35px;
  text-align: start;
}
.hasEvent:hover {
  background-color: #EB8AB5;
  border-color: #EB8AB5;
  color: rgb(255, 255, 255);
  transition: 0.2s;
}
.hasEvent:active {
  background: #815266;
  -webkit-box-shadow: inset 0px 0px 5px #815266;
     -moz-box-shadow: inset 0px 0px 5px #815266;
          box-shadow: inset 0px 0px 5px #815266;
   outline: none;
}

#createEvent {
  cursor: pointer;
  font-family: 'Jost', sans-serif;
  font-weight: 100;
  letter-spacing: .1em;
  font-size: 25px;
  text-align: center;
  font-size: 18px;
  margin-left: 435px;
  margin-bottom: 310px;
  height: 70px;
  width: 250px;
  color: #323239;
  border: 1px solid #B3DBD8;
  background-color: #B3DBD8;
  border-radius: 10px;
  padding: 1px;
  padding-left: 5px;
 position: fixed; 
}
#createEvent:hover {
  background-color: #c3eae8;
  border-color: #c3eae8;
  color:#494954;
  transition: 0.2s;
}
#createEvent:active {
  background: #B3DBD8;
  -webkit-box-shadow: inset 0px 0px 5px #B3DBD8;
     -moz-box-shadow: inset 0px 0px 5px #B3DBD8;
          box-shadow: inset 0px 0px 5px #B3DBD8;
   outline: none;
}

#monthView {
  cursor: pointer;
  font-family: 'Jost', sans-serif;
  font-weight: 100;
  letter-spacing: .1em;
  font-size: 25px;
  text-align: center;
  font-size: 18px;
  margin-left: -283px;
  margin-bottom: 310px;
  height: 70px;
  width: 250px;
  color: #323239;
  border: 1px solid #e3b8b8;
  background-color: #e3b8b8;
  border-radius: 10px;
  padding: 1px;
  padding-left: 5px;
 position: fixed; 
}
#monthView:hover {
  background-color: #eec1c1;
  border-color: #eec1c1;
  color:#494954;
  transition: 0.2s;
}
#monthView:active {
  background: #e3b8b8;
  -webkit-box-shadow: inset 0px 0px 5px #e3b8b8;
     -moz-box-shadow: inset 0px 0px 5px #e3b8b8;
          box-shadow: inset 0px 0px 5px #e3b8b8;
   outline: none;
}

#deleteEvent {
  cursor: pointer;
  font-family: 'Jost', sans-serif;
  font-weight: 100;
  letter-spacing: .1em;
  font-size: 25px;
  text-align: center;
  font-size: 18px;
  margin-bottom: 15px;
  margin-left: 1.70%;
  height: 90px;
  width: 350px;
  color: #323239;
  border: 1px solid #e3b8b8;
  background-color: #e3b8b8;
  border-radius: 10px;
  padding: 1px;
  padding-left: 5px;
 position: fixed; 
}
#deleteEvent:hover {
  background-color: #eec1c1;
  border-color: #eec1c1;
  color:#494954;
  transition: 0.2s;
}
#deleteEvent:active {
  background: #e3b8b8;
  -webkit-box-shadow: inset 0px 0px 5px #e3b8b8;
     -moz-box-shadow: inset 0px 0px 5px #e3b8b8;
          box-shadow: inset 0px 0px 5px #e3b8b8;
   outline: none;
}

#backToEvent {
  cursor: pointer;
  font-family: 'Jost', sans-serif;
  font-weight: 100;
  letter-spacing: .1em;
  font-size: 25px;
  text-align: center;
  font-size: 18px;
  margin-bottom: -220px;
  margin-left: 1.70%;
  height: 90px;
  width: 350px;
  color: #323239;
  border: 1px solid #acc7df;
  background-color: #acc7df;
  border-radius: 10px;
  padding: 1px;
  padding-left: 5px;
 position: fixed; 
}
#backToEvent:hover {
  background-color: #b8d5ee;
  border-color: #b8d5ee;
  color:#494954;
  transition: 0.2s;
}
#backToEvent:active {
  background: #acc7df;
  -webkit-box-shadow: inset 0px 0px 5px #acc7df;
     -moz-box-shadow: inset 0px 0px 5px #acc7df;
          box-shadow: inset 0px 0px 5px #acc7df;
   outline: none;
}

.updatePage {
  font-family: 'Jost', sans-serif;
  font-weight: 100;
  letter-spacing: .1em;
  font-size: 25px;
  color:#323239;
  width: 400px;
  height: 480px;
  border: 7px solid #d3d3d3;
  background-color: #ededed;
  border-radius: 30px;
  margin-top: 465px;
  margin-left: -82%;
  margin-right: auto;
  text-align: center;
  align-items: center;
  display: grid;
  grid-template-rows: repeat(6, 50px);
  // grid-template-columns: repeat(1, 450px);
  row-gap: 35px;
}

#updateEvent {
  cursor: pointer;
  font-family: 'Jost', sans-serif;
  font-weight: 100;
  letter-spacing: .1em;
  font-size: 25px;
  text-align: center;
  font-size: 18px;
  margin-top: -245px;
  margin-left: 1.70%;
  height: 90px;
  width: 350px;
  color: #323239;
  border: 1px solid #B3DBD8;
  background-color: #B3DBD8;
  border-radius: 10px;
  padding: 1px;
  padding-left: 5px;
 position: fixed; 
}
#updateEvent:hover {
  background-color: #c3eae8;
  border-color: #c3eae8;
  color:#494954;
  transition: 0.2s;
}
#updateEvent:active {
  background: #B3DBD8;
  -webkit-box-shadow: inset 0px 0px 5px #B3DBD8;
     -moz-box-shadow: inset 0px 0px 5px #B3DBD8;
          box-shadow: inset 0px 0px 5px #B3DBD8;
   outline: none;
}

#eventDescription {
  width: 350px;
  height: 30px;
  border: 1px solid #323239;
  border-radius: 20px;
  background-color: #323239;
  color: #dbdbdb;
  font-size: 16px;
  font-family: 'Jost', sans-serif;
  font-weight: 100;
  letter-spacing: .1em;
  padding-left: 10px;
  margin-left: 18px;
  margin-top: -70px;
}
::placeholder {
  color:  #dbdbdb;
  opacity: 1;
  font-size: 16px;
  font-family: 'Jost', sans-serif;
  font-weight: 100;
  letter-spacing: .1em;
}

#times {
  width: 120px;
  height: 30px;
  border: 1px solid #323239;
  border-radius: 20px;
  background-color: #323239;
  color: #dbdbdb;
  font-size: 16px;
  font-family: 'Jost', sans-serif;
  font-weight: 100;
  letter-spacing: .1em;
  padding-left: 10px;
  margin-left: 137px;
  margin-top: -310px;
}

#currDay {
  margin-top: -70px;
}

#postEventBtn {
  cursor: pointer;
  font-family: 'Jost', sans-serif;
  font-weight: 100;
  letter-spacing: .1em;
  font-size: 25px;
  text-align: center;
  font-size: 18px;
  margin-top: 120px;
  margin-left: 1.70%;
  height: 90px;
  width: 350px;
  color: #323239;
  border: 1px solid #B3DBD8;
  background-color: #B3DBD8;
  border-radius: 10px;
  padding: 1px;
  padding-left: 5px;
 position: fixed; 
}
#postEventBtn:hover {
  background-color: #c3eae8;
  border-color: #c3eae8;
  color:#494954;
  transition: 0.2s;
}
#postEventBtn:active {
  background: #B3DBD8;
  -webkit-box-shadow: inset 0px 0px 5px #B3DBD8;
     -moz-box-shadow: inset 0px 0px 5px #B3DBD8;
          box-shadow: inset 0px 0px 5px #B3DBD8;
   outline: none;
}

#cancelEvent {
  cursor: pointer;
  font-family: 'Jost', sans-serif;
  font-weight: 100;
  letter-spacing: .1em;
  font-size: 25px;
  text-align: center;
  font-size: 18px;
  margin-bottom: -300px;
  margin-left: 1.70%;
  height: 50px;
  width: 350px;
  color: #323239;
  border: 1px solid #e3b8b8;
  background-color: #e3b8b8;
  border-radius: 10px;
  padding: 1px;
  padding-left: 5px;
  position: fixed; 
}
#cancelEvent:hover {
  background-color: #eec1c1;
  border-color: #eec1c1;
  color:#494954;
  transition: 0.2s;
}
#cancelEvent:active {
  background: #e3b8b8;
  -webkit-box-shadow: inset 0px 0px 5px #e3b8b8;
     -moz-box-shadow: inset 0px 0px 5px #e3b8b8;
          box-shadow: inset 0px 0px 5px #e3b8b8;
   outline: none;
}